/* Reset some default styles */
body,
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1533228705496-072ca298b122?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1.25rem;
}


header {
    background-color: #007bff;
    /* Primary blue */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#cart-container {
    position: fixed;
    top: 1.25rem;
    /* Adjust top position as needed */
    right: 1.25rem;
    /* Adjust right position as needed */
    background-color: rgba(255, 255, 255, 0.9);
    /* Set a background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    /* Set a maximum width */
    z-index: 999;
    /* Ensures the cart is on top of other elements */
}

#cart-container h2 {
    font-size: 1.8rem;
    margin-top: 0;
    color: #000000;
    text-align: center;
}

#cart-container p {
    margin: 10px 0;
    color: #000000;
    padding: 2%;
}

#cart-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#cart-container button {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, opacity 0.5s ease;
    width: 100%;
}

#cart-container button:hover {
    background-color: #4CAF50;
}

#p-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    background-color: rgb(117, 156, 163);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    
}

.cart:hover {
    transform: scale(1.05);
}

.cart h2 {
    font-size: 1.8rem;
    margin-top: 0;
    color: #000000;
    padding: 5%;
    text-align: center;
}

.cart p {
    margin: 10px 0;
    color: #000000;
    padding: 2%;


}

.cart img {
    text-align: center;
    margin: 0 auto
}

.cart {
    position: relative;
    background-color: rgb(117, 156, 163);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.addToCart {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease, opacity 0.5s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.cart:hover .addToCart {
    visibility: visible;
    opacity: 1;
}

.addToCart:hover {
    background-color: #4CAF50;
}