/* Reset some default styles */
body,
h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1533228705496-072ca298b122?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


header {
    background-color: #3498db;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto
}

#p-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.25rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto
}

.cart {
    background-color: rgb(117, 156, 163);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    
}

.cart:hover {
    transform: scale(1.05);
}

.cart h2 {
    font-size: 1.8rem;
    margin-top: 0;
    color: #000000;
    padding: 5%;
    text-align: center;
}

.cart p {
    margin: 10px 0;
    color: #000000;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.cart img {
    text-align: center;
    margin: 0 auto
}

.cart {
    position: relative; /* Make the cart a positioned container */
    background-color: rgb(117, 156, 163);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.addToCart {
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer; /* Set pointer cursor */
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Ensures the button spans the entire width of the cart */
    border-radius: 0 0 10px 10px; /* Rounded corners only on the bottom-left and bottom-right */
}

.addToCart:hover {
    background-color: #2980b9;
}



.footer {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

